// layout
.admin-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;

  .admin-sidebar {
    width: 15%;
    position: relative;
    border-right: 1px solid rgba(0,0,0,.125);

    &-inner {
      width: 15%;
      position: fixed;
    }
  }

  .admin-content {
    width: 85%;
  }
}

// component
.admin-menu {
  border-top: 1px solid rgba(0,0,0,.125);

  &__item {
    display: block;
    text-decoration: none !important;
    border-bottom: 1px solid rgba(0,0,0,.125);

    &--active {
      border-right: 10px solid #388fec;
    }
  }
}

#post-table {
  td {
    vertical-align: middle;
  }
}

.insertImageButton {
  margin-left: 600px;
}

.modal-body {
  max-height: 600px;
  overflow-y: auto;
}

.photoList__item {
  margin: auto;
  padding: 2px;

  &--active {
    border: 3px solid #0173AA;
  }
}
