.top-content {
  .postList {
    .post {
      .postInner {
        display: flex;

        &Content {
          width: 460px;
        }
      }
    }
  }
}


.categoryMenu {
  border-right: 1px solid rgba(0,0,0,.125);

  &__item {
    &--active {
      background-color: #f5f5f5;
    }
  }
}
